CACHECREDENTIALS=yes
FORCELEGACY=no
FORCESMARTCARD=no
IPADOMAINJOINED=no
IPAV2NONTP=no
PASSWDALGORITHM=yes
USEDB=no
USEECRYPTFS=no
USEFPRINTD=yes
USEHESIOD=no
USEIPAV2=no
USEKERBEROS=no
USELDAP=yes
USELDAPAUTH=yes
USELOCAUTHORIZE=yes
USEMKHOMEDIR=yes
USENIS=no
USEPAMACCESS=no
USEPASSWDQC=no
USEPWQUALITY=yes
USESHADOW=yes
USESMARTCARD=no
USESSSD=yes
USESSSDAUTH=no
USESYSNETAUTH=yes
USEWINBIND=no
USEWINBINDAUTH=no
WINBINDKRB5=no
